<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>BIENVENIDO AL CRUD DE EZEQUIEL</h1>
    
    <div>
        <div><a href="/products/create"><button >CREAR PRODUCTOS</button></a></div> 
        <div><a href="/products/read"><button >VER PRODUCTOS</button></a></div>
        
    </div>
</body>
</html>