<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/welcome.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div>
        <h1>BIENVENIDO AL CRUD DE EZEQUIEL</h1>
        </div>
        <div class="links">
            <div><a href="/products/create"><button >CREAR PRODUCTOS</button></a></div> 
            <div><a href="/products/read"><button >VER PRODUCTOS</button></a></div>
            
        </div>
    </div>
</body>
</html>