*{
    margin: 0;
    padding: 0; 
    font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 10px;
}
h1{
    text-align: center;
}

